<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezen.MyPcApplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="PSeat"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDB_JHDP_fUt3GHqDLayD9h_sRgxyPyiXo" />
        <!-- 구글개발자 콘솔에서 가져옴. -->
        <!-- http://console.developers.googke.com -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".First_View.FindIdActivity"  android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.PC_Member.PcRoomPwResetActivity" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.PC_Member.PcRoomPwFindActivity" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.PC_Member.PcRoomIdFindActivity" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.PC_Member.PcRoomJoinActivity" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.PC_Member.PcRoomLoginActivity" />
        <activity
            android:name=".First_View.FindPwActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Side_Navigation.Person.ConvertPwActivity" />
        <activity android:name=".After_Main.Notice_Tap.Notice_ContentActivity" />
        <activity
            android:name=".First_View.JoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Review.Pc_Review_WriteActivity" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.PC_Reservation.ReservationActivity" />
        <activity android:name=".After_Main.Find_Store_Tap.PC_Info.Pc_Info_TabActivity" />
        <activity
            android:name=".First_View.FirstActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".After_Main.MainActivity"
            android:label="PSeat"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>